<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Endless runner</title>
        <meta property="og:url"           content="http://lmad.davidreyes.tk/proyectofinal/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Endless highway" />
        <meta property="og:description"   content="Proyecto para multimedia interactiva" />
        <meta property="og:image"         content="http://lmad.davidreyes.tk/proyectofinal/Assets/img/portada.jpg" />
        <meta property="fb:app_id"        content="2372239756248316" />
        <link rel="shortcut icon" type="image/x-icon" href="Assets\img\logo.png" />
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
        <script src="js/dist/main.bundle.js" charset="utf-8"></script>
        <script id="2d-vertex-shader" type="notjs">
            attribute vec3 aVertexPosition;
            attribute vec4 aVertexColor;
            attribute vec3 aVertexNormal;
            uniform mat4 uMVMatrix;
            uniform mat4 uPMatrix;
            uniform mat3 uNMatrix;
            uniform vec3 uAmbientColor;
            uniform vec3 uLightingDirection;
            uniform vec3 uDirectionalColor;
            varying vec3 vLightWeighting;
            varying vec4 vColor;
            void main(void) {
               gl_Position = uPMatrix * (uMVMatrix * vec4(aVertexPosition, 1.0));
               vColor = aVertexColor;

               vec3 transformedNormal = normalize(uNMatrix * aVertexNormal);
               float directionalLightWeighting = max(dot(transformedNormal, -uLightingDirection), 0.0);
               vLightWeighting = uAmbientColor * 0.2 + uDirectionalColor * directionalLightWeighting;
            }
        </script>
        <script id="2d-fragment-shader" type="notjs">
            precision mediump float;
            varying vec4 vColor;
            varying vec3 vLightWeighting;
            void main(void) {
                gl_FragColor = vec4(vColor.xyz * vLightWeighting, 1.0);
            }
        </script>
        <script id="2d-vertex-shader-texture" type="notjs">
            attribute vec3 aVertexPosition;
            attribute vec2 aTextureCoord;
            attribute vec3 aVertexNormal;
            uniform mat4 uMVMatrix;
            uniform mat4 uPMatrix;
            uniform mat3 uNMatrix;
            // uniform mat4 uWMatrix;
            // uniform mat4 uVMatrix;
            // uniform vec3 uPointLightingLocation;
            varying vec2 vTextureCoord;
            varying vec3 vTransformedNormal;
            varying vec4 vPosition;
            // varying vec3 lightLocation;
            void main(void) {
                vPosition = uMVMatrix * vec4(aVertexPosition, 1.0);
                gl_Position = uPMatrix * vPosition;
                vTextureCoord = aTextureCoord;
                vTransformedNormal = uNMatrix * aVertexNormal;
                // vPosition = vec4(aVertexPosition, 1.0);
                // vPosition = vec4(aVertexPosition, 1.0) * uVMatrix;
                // lightLocation = (vec4(uPointLightingLocation, 1.0) * uVMatrix).xyz;
            }
        </script>
        <script id="2d-fragment-shader-texture" type="notjs">
            precision mediump float;
            varying vec2 vTextureCoord;
            varying vec3 vTransformedNormal;
            varying vec4 vPosition;
            varying vec3 lightLocation;
            uniform sampler2D uSampler;
            uniform vec3 uAmbientColor;
            uniform vec3 uLightingDirection;
            uniform vec3 uDirectionalColor;
            uniform vec3 uPointLightingLocation;
            uniform vec3 uPointLightingDirection;
            uniform vec3 uPointLightingColor;
            uniform mat4 uVMatrix;
            uniform mat4 uWMatrix;
            void main(void) {
                vec4 textureColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));

                vec3 lightLocation = (vec4(uPointLightingLocation, 1.0) * uVMatrix).xyz;
                //lightLocation = (vec4(lightLocation, 1.0) * uWMatrix).xyz;
                vec3 lightDirection = lightLocation - vPosition.xyz;
                float distToLight = length(lightDirection);
                lightDirection = normalize(lightDirection);

                float cosDir = max(dot(lightDirection, -uPointLightingDirection), 0.0);
                float lightCosOuterAngle = 0.978;
                float lightCosInnerAngle = 0.985;
                float spotEffect = smoothstep(lightCosOuterAngle, lightCosInnerAngle, cosDir);

                float lightRange = 100.0;
                float heightAttenuation = smoothstep(lightRange, 0.0, distToLight);

                float directionalLightWeighting = max(dot(vTransformedNormal, -uLightingDirection), 0.0);
                vec3 vLightWeighting = clamp((uAmbientColor * 0.2) + (uPointLightingColor * spotEffect * heightAttenuation) + (uDirectionalColor * directionalLightWeighting), 0.0, 1.0);

                gl_FragColor = vec4(textureColor.rgb * vLightWeighting, textureColor.a);
            }
        </script>
    </head>
    <body>
        <div id="App">
            <div class="container" id="mainContainer">
                <div class="row" style="width: 85vw; margin: 0 auto;">
                    <div class="col-xs-5">
                        <div class="fb-login-button" data-size="large" data-auto-logout-link="true"></div>
                    </div>
                    <div class="col-xs-2">
                        <div class="fb-like" data-href="http://lmad.davidreyes.tk/proyectofinal" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true"></div>
                        <div class="fb-share-button"
                            data-href="http://lmad.davidreyes.tk/proyectofinal/"
                            data-layout="button"
                            data-size="large">
                        </div>
                    </div>
                    <div class="col-xs-1 col-xs-offset-4">
                        <span
                            class="btnConfig glyphicon glyphicon-cog"
                            data-toggle="tooltip" title="Configuraciones"
                            v-on:click="showConfig = true">
                        </span>
                    </div>
                </div>
                <config v-if="showConfig" v-on:cerrar="showConfig = false"></config>
                <div class="gameWindow">
                    <template v-if='!gameStarted || gamePaused'>
                        <loading v-on:start="startGame()"></loading>
                    </template>
                    <canvas id="gameWindow"></canvas>
                </div>
                <leaderboard></leaderboard>
            </div>
        </div>
    </body>
</html>
