body {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: digital;
    src: url(fonts/digital-7.ttf);
}

#gameWindow {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
